* {
  padding: 0;
}

body{
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Times New Roman;
  background-color: grey;
}

header{
  height: 140px;
  background: purple;
  text-align: left;
}

#Heading{
  color: white;
  margin-right: 0.5em;
  float: right;
  font-size: 1.6em;
}

.category:hover {
  color: white;
}

#main{
  height: 300px;
}
#footer{
  border-top: 1px solid grey;
  height: 40px;
  text-align:center;
  font-size: .8em;
  margin-top: 10px;
}

#categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.category {
  color: blue;
  cursor: pointer;
  border: 1px solid black;
  background-color: #14e6e6;
  padding: 10px;
  list-style-type: none;
  margin: 20px;
  text-align: center;
}
#dataContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.estab {
  cursor: pointer;
  border: 2.5px solid #311531;
  background-color:#7b747b;
  border-radius: 30px;
  margin: 15px;
  list-style-type: none;
}

.estab > p {
  color: black;
  padding: 30px;
  text-align: center;
}

.estab:hover {
  background: cyan;
}

.estab > h1 {
  color: blue;
  float: none;
  text-align: center;
}
#estabContainer > h1{
  color: #00efff;
  text-align: center;

}

#dataContainer > section > h1 {
  color: #11114a;
  border: 4px solid #91d4d4; 
  text-align: center;
  border-radius: 10px;

}

#dataContainer > section > p{
  color: blue;
  border: 5px solid purple;

}

#infoContainer{
  border: 3px solid aquamarine;
  border-radius: 10px;
  text-align: center;
  min-width: 5em;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  background-color: #87c5c5;
}
#leaveReview {
  text-align: center;
  display:inline-grid;
  grid-template-rows: 3fr 1fr 1fr;
  padding: 100px;
}
#reviewContainer {
  list-style-type: none;
  border: 3px solid #2de8d7;
  border-radius: 10px;
  padding: 4px;
  margin-top: 20px;
  color: #11114a;
  background-color:#7a8a98;
  min-width: 5em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}
#buttonContainer{
  display: grid;
  min-width: 3em;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}

header nav{
  margin-top: -30px;
  text-align: center;
}

header nav ul li{
  line-height: 15px;
  list-style-type: none;
  display: inline;
  padding: 1px 8px 1px 20px;
  font-size: 20px;
}

header nav a{
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  color: yellow;
}

.clsimg {
  width:100%;
  max-width: 100px;
}

#footer{
   text-align:left;
   font-size: .8em;
}

@media (max-width: 650px) {
    #footer{
    text-align: center;
  }
}

@media (max-width: 400px){
  {
    margin-left: -10px;
    min-width: 2%;
    min-height: 2%;
    display: block;
    margin-top: 5%;
    font-size: .8em;
  }
}

@media only screen and  (min-width:440px) and (max-width: 800px){
 
  #dataContainer{
    grid-template-columns: 1fr 1fr;
  }
  #categoryContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }
  header{
    height:120%
  }

}
