@import url(https://fonts.googleapis.com/css?family=Pacifico|Montserrat);

/*This a standard padding across all the code.*/
* {
  padding: 0;
}

body{
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Montserrat;
  background-color: grey;
}

header{
  height: 140px;
  background: purple;
  text-align: left;
}

h2{
  padding-left: 3em
}

/*Styling for our heading name (Transport)*/
#Heading{
  color: white;
  margin-right: 0.5em;
  float: center;
  margin-top:-1.1em;
  font-size: 2em;
  text-align:center;
  font-family:Pacifico;
  margin-bottom: -0.6em
}
/*creates a hover for the categories below the heading title*/
.category:hover {
  color: white;
}

#main{
  height: 300px;
}
/*alligns the footer at the bottom of the page and adds a border*/
#footer{
  border-top: 1px solid grey;
  height: 40px;
  text-align:center;
  font-size: .8em;
  margin-top: 10px;
}

/*Puts the categories into a container of 7 fractions to evenly spread out the page*/
#categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/*styles the categories and adds a pointer to show when each category is selected*/
.category {
  color: blue;
  cursor: pointer;
  border: 1px solid black;
  background-color: #14e6e6;
  padding: 10px;
  list-style-type: none;
  margin: 20px;
  text-align: center;
  font-family:Montserrat;
}

/*displays the data from categories in a grid style of 5 evenly spread out fractions*/
#dataContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/*styles the establishments with a background color and seperates them with a margin*/ 
.estab {
  cursor: pointer;
  border: 2.5px solid #311531;
  background-color:#7b747b;
  border-radius: 30px;
  margin: 15px;
  list-style-type: none;
}

/*styles the paragraphs p within the establishments and adds padding, color and alligns them center*/
.estab > p {
  color: black;
  padding: 30px;
  text-align: center;
}

/*adds cyan background hover to establishments*/
.estab:hover {
  background: cyan;
}
/*styles the heading1 blue and aligns it center in establishments*/
.estab > h1 {
  color: blue;
  float: none;
  text-align: center;
}
/*styles all establishments in the containerand aligns them center*/
#estabContainer > h1{
  color: #00efff;
  text-align: center;

}
/*styles the heading1 in dataContainer with color, a border, a radius for that border and aligns it center*/
#dataContainer > section > h1 {
  color: #11114a;
  border: 4px solid #91d4d4;
  text-align: center;
  border-radius: 10px;

}
/*styles all the p paragraphs in dataContainer to the color blue and adds a purple border*/
#dataContainer > section > p{
  color: blue;
  border: 5px solid purple;

}
/*styles infoContainer with a border, alignment, width, background-color and and margin*/ 
#infoContainer{
  border: 3px solid aquamarine;
  border-radius: 10px;
  text-align: center;
  min-width: 5em;
  max-width: 15em;
  margin-left: auto;
  margin-right: auto;
  background-color: #87c5c5;
}
/*styles the review page with alignments, displays uneven grids with fractions 3, 1 and 1
adds padding
adds margins
adds width
*/
#leaveReview {
  text-align: center;
  display:grid;
  grid-template-rows: 3fr 1fr 1fr;
  padding: 30px;
  margin-left:auto;
  margin-right:auto;
  min-width: 5em;
  max-width: 50em;
}
/*styles the all the reviews
adds a border with a radius, padding, margin, color, background color, and margins
*/
#reviewContainer {
  list-style-type: none;
  border: 3px solid #2de8d7;
  border-radius: 10px;
  padding: 3px;
  margin-top: 20px;
  color: #11114a;
  background-color:#7a8a98;
  margin-left: 5em;
  margin-right: 5em;
}
/*styles buttons in a display grid 
width has been defined and margins set to auto
*/
#buttonContainer{
  display: grid;
  min-width: 3em;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
}
/*styles the header navigation bar with margins from the top and align center*/
header nav{
  margin-top: -30px;
  text-align: center;
}
/*styles the image in the top right with width*/
.clsimg {
  width:100%;
  max-width: 100px;
}

#footer{
   text-align:left;
   font-size: .8em;
}

@media (max-width: 650px) {
    #footer{
    text-align: center;
  }
}

@media (max-width: 400px){
  {
    margin-left: -10px;
    min-width: 2%;
    min-height: 2%;
    display: block;
    margin-top: 5%;
    font-size: .8em;
  }
}

@media only screen and (min-width:150px) and (max-width: 440px){

  #dataContainer{
    grid-template-columns: 1fr;
  }
  header{
    height:20%
  }

  .cateory{
    display: table-cell;
    float: none;
    width: auto;
  }

  #categoryContainer {
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
    table-layout: fixed;
    width: 100%;
  }

}
