@import url(https://fonts.googleapis.com/css?family=Lobster | Corben:bold);

body{
  padding: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  font-family: Corben;
  background-color: grey;
}

header{
  height: 140px;
  background: purple;
  text-align: left;
}

.category {
  color: blue;
  cursor: pointer;
  margin-top: 20px;
}

.category:hover {
  color: White
}

#text{
  font-family: Corben;
}
#wrapper{
  width: 700px;
  height: auto;
  margin: 0px auto;
}
#main{
  height: 300px;
}
#footer{
  border-top: 1px solid grey;
  height: 40px;
  text-align:center;
  font-size: .8em;
  margin-top: 10px;
}

#categoryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#dataContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.estab {
  hover: cyan;
  cursor: pointer;
  border: 2.5px solid #311531;
  margin: 15px;
  list-style-type: none;

}

.estab > p {
  color: black;
  padding: 30px;
  text-align: center;
  
}
.estab > h1 {
  color: #a821bd;
  float: none;
  text-align: center;

}

#leaveReview {
  text-align: center;
  display:inline-grid;
  grid-template-rows: 3fr 1fr 1fr;
  padding: 100px;
}

header nav{
  margin-top: -30px;
  text-align: center;
}

header nav ul li{
  line-height: 15px;
  list-style-type: none;
  display: inline;
  padding: 1px 8px 1px 20px;
  font-size: 20px;
  font-family: "Lobster";
}


header nav a{
  text-decoration: none;
  color: white;
}

header nav ul li a:hover{
  color: yellow;
}



h1{
  color: white;
  margin-right: 0.5em;
  float: right;
  font-size: 1.6em;
}


.clsimg {
  width:100%;
  max-width: 100px;
}

@media (max-width: 650px) {
  
  #footer{
    text-align: center;
  }
}

@media (max-width: 400px){
  {
    margin-left: -10px;
    min-width: 2%;
    min-height: 2%;
    display: block;
    margin-top: 5%;
    font-size: .8em;
  }

  header {
    padding: 0em;
  }

  header nav ul li
  {
    font-size: 1em;
  }
  #footer{
    text-align:left;
    font-size: .8em;
  }

}

